* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter {
    padding: 7rem 5rem !important;
    background: rgb(214, 86, 0);
    h1, p {
        text-align: center;
        color: whitesmoke;
    }
    h1 {
        font-size: 3.7rem;
        font-weight: 700;
    }
}